@using BlogWebApp.Controllers
@using BlogWebApp.BLL.ViewModels.Comments
@model BlogArticleModel

<div>
    <div class="card">
        <div class="card-header">
            @Html.DisplayFor(model => model.Title)
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @Html.DisplayFor(model => model.Description)
            </li>
            <li class="list-group-item">
                @Html.DisplayFor(model => model.Tags)
            </li>
            <li class="list-group-item">
                <a asp-controller="UserManagement" asp-action="ShowUser" asp-route-userId="@Model.UserId"> 
                                        @Html.DisplayFor(model => model.UserName) </a> @Html.DisplayFor(model => model.DateCreation)
            </li>
        </ul>
    </div>
</div>