@using BlogWebApp.Controllers
@using BlogWebApp.BLL.ViewModels
@using BlogWebApp.BLL.ViewModels.Comments
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model BlogArticleViewModel

@{
    ViewData["Title"] = "Комментарии";
}

@{
    var prevDisabled = !Model.PaginatedListComments.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedListComments.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-blogArticleId="@Model.blogArticle.Id"
   asp-route-pageNumber="@(Model.PaginatedListComments.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
   <i class="glyphicon glyphicon-chevron-left"></i>
   Назад
</a>
<a asp-action="Index"
   asp-route-blogArticleId="@Model.blogArticle.Id"
   asp-route-pageNumber="@(Model.PaginatedListComments.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
   Вперед
   <i class="glyphicon glyphicon-chevron-right"></i>
</a>

<h4> </h4>

@foreach (var item in Model.PaginatedListComments)
{
    <div class="card"style="width: 36rem;">
      <div class="card-body">
        <p class="card-text">@item.Content</p>
        <a asp-controller="UserManagement" asp-action="ShowUser" asp-route-userId="@item.AuthorId"> @Html.DisplayFor(modelItem => item.Author) </a>
        @Html.DisplayFor(modelItem => item.DateChange)
        @if (ViewBag.UserEmail == item.Author || (await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded
                                              || (await AuthorizationService.AuthorizeAsync(User, "RequireModeratorRole")).Succeeded)
        {
            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-blogArticleId="@Model.blogArticle.Id" class="btn btn-sm btn-outline-secondary"> Редактировать </a>
            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-blogArticleId="@Model.blogArticle.Id" class="btn btn-sm btn-outline-danger"> Удалить </a>
        }
      </div>
    </div>    
}

<h4> </h4>

<a asp-action="Create"
   asp-route-blogArticleId="@Model.blogArticle.Id"
   class="btn btn-secondary">
   Добавить комментарий
</a>
