@using BlogWebApp.Controllers
@using BlogWebApp.BLL.ViewModels.Users
@model ChangeUserRoleModel

@{
    ViewData["Title"] = "Настройки";
}

<h2>Изменение роли пользователя</h2>

<div>
    <hr />
    <form id="changerole-form" method="post">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RoleName)
            </dt>
            <dd>
                <select asp-for="@Model.RoleName" asp-items="@ViewBag.Roles">
                </select>        
            </dd>
        </dl>
        <button id="update-profile-button" type="submit" class="btn btn-lg btn-primary">Сохранить</button>
    </form>
</div>