@using BlogWebApp.Controllers
@using BlogWebApp.BLL.ViewModels.Users
@model ChangeUserRoleViewModel

@{
    ViewData["Title"] = "Настройки";
}

<h2>Изменение роли пользователя</h2>

<div>
    <hr />
    <form id="changerole-form" method="post">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Роли:
            </dt>
            @for (var i = 0; i < Model.Roles.Count; i++)
            {
                <dd>
                     <input type="checkbox" asp-for="@Model.Roles[i].IsRoleAssigned" />    
                     <label> @Model.Roles[i].Name </label>
                     <input type="hidden" asp-for="@Model.Roles[i].Name" />
                </dd>
            }
        </dl>
        <button id="update-profile-button" type="submit" class="btn btn-lg btn-primary">Сохранить</button>
    </form>
</div>