@using BlogWebApp.BLL.ViewModels
@using BlogWebApp.BLL.ViewModels.Users
@using BlogWebApp.DAL.Models
@model PaginatedList<UserListModel>

@{
    ViewData["Title"] = "Пользователи";
}
<h1>@ViewData["Title"]</h1>
<hr />

<form asp-area="Identity" asp-page="/Account/Register">
    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Зарегистрировать пользователя" class="btn btn-secondary" />
        </p>
    </div>
</form>

<form asp-action="UserList" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по Login: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Найти" class="btn btn-secondary" /> 
            <text>   </text>
            <a asp-action="UserList" class="btn btn-secondary">Отменить поиск</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                <a asp-action="UserList" asp-route-sortOrder="Email" asp-route-currentFilter="@ViewData["CurrentFilter"]">Login</a>
            </th>
            <th>
                <a asp-action="UserList" asp-route-sortOrder="UserName" asp-route-currentFilter="@ViewData["CurrentFilter"]">ФИО</a>
            </th>
            <th>
                <a asp-action="UserList" asp-route-sortOrder="RoleName" asp-route-currentFilter="@ViewData["CurrentFilter"]">Роль</a>
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        @Html.Raw("<img style='height:30px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Image) + "\" />")
                    }
                </td>
                <td>
                    <a asp-controller="UserManagement" asp-action="EditUserView" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Email) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Изменить роль</a>
                    <text>   </text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="UserList"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
   <i class="glyphicon glyphicon-chevron-left"></i>
   Назад
</a>
<a asp-action="UserList"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
   Вперед
   <i class="glyphicon glyphicon-chevron-right"></i>
</a>