@using BlogWebApp.BLL.ViewModels.Tags
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model ListTagsViewModel

@{
    ViewData["Title"] = "Теги";
}
<h1>@ViewData["Title"]</h1>
<hr />

<a asp-action="Create"
   asp-route-blogArticleId="@Model._blogArticleId"
   class="btn btn-secondary">
   Добавить
</a>

@foreach (var tag in Model._tags)
{
    <h4> </h4> 
    <div class="card" style="width: 24rem;">
        <div class="card-header">
            @Html.DisplayFor(modelItem => tag.Name)
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => tag.BlogArticles)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => tag.BlogArticlesUser)</p>
            
            @if (tag.IsUserUsingTag || (await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
            {
                <a asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-sm btn-outline-secondary">Изменить</a>
                <text>  </text>
                <a asp-action="Delete" asp-route-id="@tag.Id" class="btn btn-sm btn-outline-danger">Удалить</a>
            }
        </div>
    </div>
}
