@using BlogWebApp.BLL.ViewModels.Roles
@model RoleListViewModel

@{
    ViewData["Title"] = "Роли";
}
<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="Create" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Добавить роль" class="btn btn-secondary" />
        </p>
    </div>
</form>

@foreach (var item in Model.RoleList)
{
    <h4> </h4> 
    <div class="card" style="width: 24rem;">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="card-body">
            @if (item.IsProgramRole)
            {
                <h6 class="card-title">Стандартная роль приложения</h6>
            }

            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>

            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Изменить</a>
            <text>  </text>
            @if (!item.IsProgramRole)
            {
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Удалить</a>
            }
        </div>
    </div>
}
