@using BlogWebApp.BLL.ViewModels
@using BlogWebApp.BLL.ViewModels.BlogArticles
@using BlogWebApp.DAL.Models
@model BlogArticleListViewModel

@{
    ViewData["Title"] = "Статьи";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Создать Статью" class="btn btn-secondary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="BlogArticle" asp-route-sortOrder="Title" asp-route-currentFilter="@ViewData["CurrentFilter"]">Статья</a>
            </th>
            <th>
                <a asp-action="BlogArticle" asp-route-sortOrder="UserName" asp-route-currentFilter="@ViewData["CurrentFilter"]">Автор</a>
            </th>
            <th>
                <a asp-action="BlogArticle" asp-route-sortOrder="DateCreation" asp-route-currentFilter="@ViewData["CurrentFilter"]">Создана</a>
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._blogArticles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить статью</a>
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>