@using BlogWebApp.BLL.ViewModels
@using BlogWebApp.BLL.ViewModels.BlogArticles
@using BlogWebApp.DAL.Models
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PaginatedList<BlogArticleViewModel>

@{
    ViewData["Title"] = "Статьи";
}
<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="Create" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Добавить статью" class="btn btn-secondary" />
        </p>
    </div>
</form>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по автору: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            Поиск по тегам: <input type="text" name="SearchString1" value="@ViewData["CurrentFilter1"]" />
            <input type="submit" value="Найти" class="btn btn-secondary" /> 
            <text>   </text>
            <a asp-action="Index" class="btn btn-secondary">Отменить поиск</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="Title" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter1="@ViewData["CurrentFilter1"]">Статья</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="Author" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter1="@ViewData["CurrentFilter1"]">Автор</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="DateCreation" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter1="@ViewData["CurrentFilter1"]">Создана</a>
            </th>
            <th>
                Теги
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Comment" asp-action="Index" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title) </a>
                </td>
                <td>
                    <a asp-controller="UserManagement" asp-action="ShowUser" asp-route-userId="@item.UserId"> @Html.DisplayFor(modelItem => item.Author) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded ||
                         (await AuthorizationService.AuthorizeAsync(User, "RequireModeratorRole")).Succeeded || item.IsEdit)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <text>   </text>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Удалить</a>
                    }                        
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter1="@ViewData["CurrentFilter1"]"
   class="btn btn-primary @prevDisabled">
   <i class="glyphicon glyphicon-chevron-left"></i>
   Назад
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter1="@ViewData["CurrentFilter1"]"
   class="btn btn-primary @nextDisabled">
   Вперед
   <i class="glyphicon glyphicon-chevron-right"></i>
</a>